<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.nunua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme"
        tools:targetApi="n">
        <activity android:name=".Users.PaymentActivity" />
        <activity android:name=".Users.StripeCheckoutActivity" />
        <activity android:name=".Users.ScanRecycleActivity" />
        <activity android:name=".Users.RecycleActivity" />
        <activity android:name=".Admin.AdminUserProductsActivity" />
        <activity android:name=".Admin.AdminNewOrdersActivity" />
        <activity android:name=".Users.ScannedDetailsActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Users.MpesaActivity" />
        <activity android:name=".Users.ScannedProductActivity" />
        <activity android:name=".Users.SearchProductsActivity" />
        <activity android:name=".Users.ScanBarcodeActivity" />
        <activity android:name=".Users.SettingsActivity" />
        <activity android:name=".Users.ConfirmFinalOrderActivity" />
        <activity android:name=".Users.CartActivity" />
        <activity android:name=".Admin.AdminMaintainProductsActivity" />
        <activity android:name=".Users.ProductDetailsActivity" />
        <activity android:name=".Admin.Admin_add_productsActivity" />
        <activity
            android:name=".Users.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Users.RegisterActivity" />
        <activity android:name=".Users.LoginActivity" />
        <activity android:name=".Users.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>